<a href="https://colab.research.google.com/github/Nadia-Arshad/Projects_00/blob/main/Unit_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h4>Simple if statement:</h4>

In [7]:
user_input = int(input("Write a number to convert. "))
conversion_choice = input("Choose from below:\n A. cm B. mm C. km ")
if conversion_choice == "A":
    print(user_input * 100)
elif conversion_choice == "B":
    print(user_input * 10)
elif conversion_choice == "C":
    print(user_input / 1000)

Write a number to convert. 75
Choose from below:
 A. cm B. mm C. kmB
750

Using Dictionary to store the options:

In [9]:
user_input = int(input("Write a number to convert. "))
conversion_choice = input("Choose from below:\n A. cm B. mm C. km ").upper()
conversions = {
    "A" : user_input * 100,
    "B" : user_input * 10,
    "C" : user_input / 1000
}
print(conversions[conversion_choice])

Write a number to convert. 74
Choose from below:
 A. cm B. mm C. km b
740

Making a function:

In [1]:
def convert_length(value, unit):
    unit = unit.upper()
    if unit == "A":
        return value * 100
    elif unit == "B":
        return value * 10
    elif unit == "C":
        return value / 1000
    else:
        return "Invalid unit."

user_input = int(input("Write a number to convert. "))
conversion_choice = input("Choose from below:\n A. cm B. mm C. km ")

result = convert_length(user_input, conversion_choice)
print(result)

Write a number to convert. 75
Choose from below:
 A. cm B. mm C. km b
750